<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KoinWorks - Democratizing Finance</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Custom CSS -->
    <!-- <link href="css/landing-page.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <style type="text/css"> 
        body {
            width: 100%;
            height: 100%;
            background-image: url(<%= asset_path("coming-soon-bg.jpg") %>);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .landing {
            padding: 30px;
            background-color: rgba(255,255,255,0.8);
        }
        .logo {
            margin-top: 120px;
            margin-bottom: 60px;
            text-align: center;
        }
        .logo img {
            max-width: 100%;
        }
        .landing h4 {
            text-align: justify;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }
        .landing h5 {
            text-decoration: underline;
        }

        .hired {
             text-decoration: line-through;
        }
     
    </style>

</head>

<body>
    <div class="site-wrapper">
        <section>
            <div class="container">
            
                <div class="row">
                    <div class="col-md-12 logo">
                        <!-- <img src="images/logo.png" /> -->
                        <%= image_tag "logo.png" %>
                    </div>
                </div>
                
                <div class="row">
                
                    <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                        
                        <div class="landing">
                        
                            <h4>Want to make a difference? Did you know that 80% of Indonesian adult population do not have access to a formal financial service? And less than half  of that number are well served?</h4>
    
                            <h4>We at Koinworks aims to flip those numbers around. Our platform will democratize finance in Indonesia, lower the barriers of entry and reduce costs. Join the team, and be a part of this innovation.</h4>
                            
                            <p>&nbsp;</p>
                            
                            <p>We’re currently hiring for these positions:</p>
                            
                            <h5><span class="hired">Head of Operations</span>  (Hired)</h5>
                            <p>You will be heading the design of a novel credit scoring algorithm, combining data science and conventional processes, monitor its performance and improve it over time, and introduce the algorithm to different products and circumstances. You will have a lot of opportunities to learn about data science; both the statistics and the coding. The ideal candidate would be:</p>
                            <ul>
                                <li>Experience in credit analysis and loan origination in a bank, ideally in SME sector, minimum of 3 years </li>
                                <li>Have solid knowledge of SOP in finance</li>
                            </ul>
                            
                            <h5>Statistician</h5>
                            <p>You will take all the numbers and help us make sense of the data and numbers we collect. You will work closely with the AI programmer, and provide guidance to the team. The ideal candidate would be:</p>
                            <ul>
                                <li>A math geek, ideally master’s degree in mathematics or actuarial background</li>
                                <li>Good knowledge of R or similar languages</li>  
                            </ul>
                             
                            <h5><span class="hired">AI Engineer</span>  (Hired)</h5>
                            <p>You’ll be taking over and spearheading the development of our machine learning algorithm. Our CTO and resident expert will provide guidance, and you’ll be working closely with the team to improve our algorithm.</p>

                            <ul>
                                <li>Love to explore new things: Storm, Cassandra, TensorFlow</li>
                                <li>Programming language agnostic, but experienced in several languages</li> 
                                <li>Experienced with at least scikit-learn</li>  
                            </ul>
                            
                            <h5>Psychologist (Part time)</h5>
                            <p>You will be advising the team to inspect the human elements of our behaviour analysis, and validate our findings. It’s a great opportunity to gain exposure to many different things. Ideally you’d be:</p>
                            <ul>
                                <li>Majored in a degree in psychology</li>
                                <li>Academic or consulting experience, minimum 3 years</li>
                                <li>Ideally exposure to financial topics</li>
                            </ul>
                            
                            <p>&nbsp;</p>
                            
                            <h4>We’re a small but growing team, so teamworking skills and communications are must haves! Please mail applications to <a href="mailto:general@koinworks.com">general@koinworks.com</a></h4>

                            <h4>Didn’t find a position you like? You can tell us about yourself and why you’ll be a good fit. </h4>
                            
                        </div>
                    
                    </div>
                        
                    <div class="col-md-2"></div>
                        
                    
                </div>
                
            </div>
        
        </section><!--end of Home section-->
    </div>

</body>

</html>
