<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="KoinWorks" />
<meta name="copyright" content="©2015 KoinWorks. All rights reserved." />
<title>KoinWorks | Democratizing finance</title>

<link rel="shortcut icon" href="favicon.ico"> 

<style type="text/css"> 
body {
	background-image: url(<%= asset_path("coming-soon-bg.jpg") %>);
	background-size: cover;
}
.centered {
	position:relative; 
	width:100%; 
	margin:auto;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.centered img {
	margin-top: 120px;
}
.centered h1 {
	font-size: 21px;
	margin-top: 0px;
	margin-bottom: 100px;
}
.centered p {

}
.centered p a:link {
	color: #000;
	text-decoration: none;
}
.centered p a:visited {
	color: #000;
	text-decoration: none;
}
.centered p a:hover {
	color: #000;
	text-decoration: underline;
}
 
</style>


</head>

<body>

<div class="centered">
	<%= image_tag "our_logo.png", :style => "width: 500px;" %> 
    <h1>The better model.</h1>

    <p style="width:500px; margin: 0 auto; text-align:left;">
	    Want to make a difference? Did you know that 80% of Indonesian adult population do not have access to a formal financtial service? And less than half  of that number are well served? 
	    <br /><br />

	    We at Koinworks aims to flip those numbers around. Our platform will democratize finance in Indonesia, lower the barriers of entry and reduce costs. Join the team, and be a part of this innovation. 
	    <br /><br />

	    We’re currently looking for talents for these roles:
	</p>

	<p style="width:500px; margin: 0 auto; text-align:left;">
 		<h3>Head of Operation</h3>

 		<br /><br />

 		You will be heading the design of a novel credit scoring algorithm, combining data science and conventional processes, monitor its performance and improve it over time, and introduce the algorithm to different products and circumstances. You will have a lot of opportunities to learn about data science; both the statistics and the coding. 

 		The ideal candidate would be:
 		<ul>
 			<li>Experience in credit analysis and loan origination in a bank, ideally in SME sector, minimum of 3 years </li>
 			<li>Have solid knowledge of SOP in finance</li>
 		</ul>


	</p>

	<p style="width:500px; margin: 0 auto; text-align:left;">
	    Want to make a difference? Did you know that 80% of Indonesian adult population do not have access to a formal financtial service? And less than half  of that number are well served? 
	    <br /><br />

	    We at Koinworks aims to flip those numbers around. Our platform will democratize finance in Indonesia, lower the barriers of entry and reduce costs. Join the team, and be a part of this innovation. 
	    <br /><br />

	    We’re currently looking for talents for these roles:
	</p>

	<p style="width:500px; margin: 0 auto; text-align:left;">
	    Want to make a difference? Did you know that 80% of Indonesian adult population do not have access to a formal financtial service? And less than half  of that number are well served? 
	    <br /><br />

	    We at Koinworks aims to flip those numbers around. Our platform will democratize finance in Indonesia, lower the barriers of entry and reduce costs. Join the team, and be a part of this innovation. 
	    <br /><br />

	    We’re currently looking for talents for these roles:
	</p>
  
 
    
    <!-- <p>We are looking to add talents.<br /> -->
    <!-- Interested? Email your CV to <a href="mailto:general@koinworks.com">general@koinworks.com</a></p> -->
</div>

</body>
</html>
